XML/src/ex_6_2/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="osoby">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="osoba" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="imie" />
							<xs:element type="xs:string" name="nazwisko" />
							<xs:element type="xs:byte" name="wiek" />
						</xs:sequence>
						<xs:attribute type="xs:string" name="plec" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>